Flask==2.0.1
pytest==6.2.5
requests>=2.31.0
python-dotenv>=1.0.0
crewai>=0.22.2
ollama
PyMuPDF>=1.23.7
setuptools
langchain>=0.0.308
langchain-openai>=0.0.2
langchain-community>=0.0.10
langchain-core>=0.0.10
duckduckgo-search>=8.0.1
